
// Visual grid layout - using this in development.

$visual-grid: true;
$visual-grid-color: pink;
$visual-grid-opacity: 0.4;
$visual-grid-index: front;

@import "bourbon/bourbon";
@import "neat/neat";

.skip-link {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}